<div class="dash-content-wrap">
  <div class="dash-content-head mb-5">
    <h2 class="main-title">Welcome to Udify</h2>
    <p >
      To get up and running quickly, Please follow these steps outlined below.
    </p>
  </div>
  <div class="dash-content-body">
    <div class="row">
      <div class="col-lg-8">
        <div class="dash-card">
          <div class="dash-head">
            <h3 class="card-title">Connect to shopify stores</h3>
          </div>
          <div class="dash-body">
            <h4 class="mb-3">Create your integration</h4>
            <p class="mb-4">
              To get Started using Udify, We recommend connecting to a private
              app on your shopify store.
            </p>
            <p>
              Pulling in data is easy! Once your first store is connected, Udify
              brings all your data right to you and creates a live sync. This
              means any new orders, customers, or products you add to the store
              immediately are syced with Udify.
            </p>
            <button
              (click)="connectToShopify()"
              class="cstm-btn mt-3"
            >
              Connect to Shopify
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
