<div class="dash-content-wrap">
    <div class="dash-content-head d-f j-c-s-b a-i-c mb-5">
      <h3 class="dash-title">Knowledgebase</h3>
      <button class="search-btn main-btn" [routerLink]="['/admin/knowledgebase/add']">
        <i class="fas fa-plus"></i
            >
      </button>
    </div>
  
    <div class="dash-content-body">
      <div class="table-card">
        <nz-table
          class="table dash-table"
          #knowledgeTable
          [nzData]="knowledge"
          [nzShowPagination]="true"
        >
          <thead>
            <tr>
              <!-- <th>S.No.</th> -->
              <th>Title</th>
              <th>Category</th>
              <th>Description</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let knowld of knowledgeTable.data; let i = index">
              <td>{{ knowld?.title }}</td>
              <td>{{ knowld?.category }}</td>
              <td class="short-msg" [innerHtml]="knowld?.description"></td>
              <td>{{ knowld?.createdAt | date: 'dd/MM/yyyy hh:mm a'}}</td>
              <td>
                <div class="table-action d-f a-i-c">
                  <a
                    [routerLink]="['/admin/knowledgebase/edit', knowld?._id]"
                    class="icon-btn"
                    ><i class="fas fa-edit"></i
                  ></a>
                  <a
                  href="javascript:void(0);"
                  class="icon-btn danger-icon"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this knowledgebase?"
                  (nzOnConfirm)="confirmDelete(knowld)"
                  ><i class="fas fa-trash-alt"></i
                ></a>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
  <ngx-ui-loader
    [fgsType]="api?.loaderType"
    [fgsColor]="api?.loaderColor"
    [pbColor]="api?.loaderColor"
    [fgsSize]="'80'"
  ></ngx-ui-loader>
  