<div class="dash-content-wrap">
  <div class="dash-content-head d-f j-c-s-b a-i-c mb-5">
    <h3 class="dash-title">CMS Pages</h3>
  </div>

  <div class="dash-content-body ud-card ud-admin-card">
    <div class="table-card1" *ngIf="type == 'home'">
      <!-- Section 1 -->
      <div class="section-outer shadow-card">
        <h3>Section 1</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section1.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section1.heading2"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 3</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section1.heading3"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 4</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section1.heading4"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Section  2-->
      <div class="section-outer shadow-card">
        <h3>Section 2</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section2.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section2.heading2"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 3</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section2.heading3"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 4</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section2.heading4"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 5</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section2.heading5"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Section  3-->
      <div class="section-outer shadow-card">
        <h3>Section 3</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section3.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section3.heading2"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 3</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section3.heading3"></textarea>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- Section  4-->
      <div class="section-outer shadow-card">
        <h3>Section 4</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section4.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section4.heading2"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 3</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section4.heading3"></textarea>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- Section  5-->
      <div class="section-outer shadow-card">
        <h3>Section 5</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section5.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section5.heading2"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 3</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.home.section5.heading3"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
    </div>

    <div class="table-card11" *ngIf="type == 'becomePartner'">
      <!-- Section 1 -->
      <div class="section-outer shadow-card">
        <h3>Section 1</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section1.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section1.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Section  2-->
      <div class="section-outer shadow-card">
        <h3>Section 2</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section2.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section2.heading2"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 3</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section2.heading3"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 4</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section2.heading4"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 5</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section2.heading5"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 6</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section2.heading6"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 7</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section2.heading7"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Section  3-->
      <div class="section-outer shadow-card">
        <h3>Section 3</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section3.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section3.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
  
      <!-- Section  4-->
      <div class="section-outer shadow-card">
        <h3>Section 4</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section4.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section4.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
  
      <!-- Section  5-->
      <div class="section-outer shadow-card">
        <h3>Section 5</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section5.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section5.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->

        
      <!-- Section  6-->
      <div class="section-outer shadow-card">
        <h3>Section 6</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section6.heading1"></textarea>
          </div>
        </div>
      </div>
      <!--  -->

        
      <!-- Section  7-->
      <div class="section-outer shadow-card">
        <h3>Section 7</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.becomePartner.section7.heading1"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
    </div>

    <div class="table-card1" *ngIf="type == 'pricingPlans'">
      <!-- Section 1 -->
      <div class="section-outer shadow-card">
        <h3>Section 1</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section1.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section1.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Section  2-->
      <div class="section-outer shadow-card">
        <h3>Section 2</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section2.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section2.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
      <!-- Section  3-->
      <div class="section-outer shadow-card">
        <h3>Section 3</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section3.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section3.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
  
      <!-- Section  4-->
      <div class="section-outer shadow-card">
        <h3>Section 4</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section4.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section4.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
  
      <!-- Section  5-->
      <div class="section-outer shadow-card">
        <h3>Section 5</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section5.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section5.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
  
        
      <!-- Section  6-->
      <div class="section-outer shadow-card">
        <h3>Section 6</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section6.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section6.heading2"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 3</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section6.heading3"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 4</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section6.heading4"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 5</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section6.heading5"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 6</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section6.heading6"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 7</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section6.heading7"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label">Heading 8</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.pricingPlans.section6.heading8"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
    </div>

    <div class="table-card1" *ngIf="type == 'support'">
      <!-- Section 1 -->
      <div class="section-outer shadow-card">
        <h3>Section 1</h3>
        <div class="section-inner">
          <div class="form-group">
            <label class="form-label">Heading 1</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.support.section1.heading1"></textarea>
          </div>
          <div class="form-group">
            <label class="form-label">Heading 2</label>
            <textarea class="form-control" rows="4" nz-input class="form-control" [(ngModel)]="cmsService.support.section1.heading2"></textarea>
          </div>
        </div>
      </div>
      <!--  -->
    </div>

    <div class="btn-container">
      <button class="cstm-btn search-btn main-btn"(click)="saveCms()">
        Save
      </button>
    </div>
  </div>
</div>
