<div class="log-form-layout">
  <span class="form-top-shape"
    ><img src="assets/images/form-top-shape.png"
  /></span>
  <span class="form-bottom-shape"
    ><img src="assets/images/form-bottom-shape.png"
  /></span>
  <div class="log-form-card">
    <div class="log-form-left">
    <div class="ellipse14"></div>
    <div class="ellipse15"></div>
    <div class="ellipse16"></div>
    <div class="ellipse27"></div>
      <span class="form-left-top-shape"
        ><img src="assets/images/black-dot.png"
      /></span>
      <img class="log-ill-img" src="assets/images/login-img.png" />
      <div class="log-inn-text">
        <h3>
          Welcome to our <br />
          website
        </h3>
      </div>
      <span class="form-left-bottom-shape"
        ><img src="assets/images/black-dot.png"
      /></span>
    </div>
    <form
      class="log-form-right"
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >
      <div class="log-form-head">
        <a [routerLink]="['/']" class="form-logo">
          <img src="assets/images/logo.png" />
        </a>
        <h3 class="log-title">Let's Get Started</h3>
        <p>Sign up for free. No credit card required.</p>
      </div>
      <div class="log-form-body">
        <div class="form-group">
          <label class="form-label">First Name</label>
          <div class="input_wrap">
            <input
              type="text"
              class="form-control invalid-input"
              formControlName="first_name"
              placeholder="First Name"
              [ngClass]="{ 'invalid-input': registerForm.get('first_name').invalid && registerForm.get('first_name').touched }"
            />
            <span class="input-icon">
              <mat-icon aria-label="material-icons-outlined"
                >account_circle</mat-icon
              >
            </span>
          </div>
          <div
            *ngIf="
              registerForm.get('first_name').invalid &&
              registerForm.get('first_name').touched
            "
            class="input-error"
          >
            <div *ngIf="registerForm.get('first_name').errors.required">
              First name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Last Name</label>
          <div class="input_wrap">
            <input
              type="text"
              class="form-control"
              formControlName="last_name"
              placeholder="Last Name"
              [ngClass]="{ 'invalid-input': registerForm.get('last_name').invalid && registerForm.get('last_name').touched }"
            />
            <span class="input-icon">
              <mat-icon aria-label="material-icons-outlined"
                >account_circle</mat-icon
              >
            </span>
          </div>
          <div
            *ngIf="
              registerForm.get('last_name').invalid &&
              registerForm.get('last_name').touched
            "
            class="input-error"
          >
            <div *ngIf="registerForm.get('last_name').errors.required">
              Last name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Email</label>
          <div class="input_wrap">
            <input
              type="text"
              class="form-control"
              formControlName="email"
              placeholder="Email"
              [ngClass]="{ 'invalid-input': registerForm.get('email').invalid && registerForm.get('email').touched }"
            />
            <span class="input-icon">
              <mat-icon aria-label="material-icons-outlined">email</mat-icon>
            </span>
          </div>
          <div
            *ngIf="
              registerForm.get('email').invalid &&
              registerForm.get('email').touched
            "
            class="input-error"
          >
            <div *ngIf="registerForm.get('email').errors.required">
              Email is required.
            </div>
            <div *ngIf="registerForm.get('email').errors.pattern">
              Email is invalid.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Password</label>
          <div class="input_wrap">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="Password"
              [ngClass]="{ 'invalid-input': registerForm.get('password').invalid && registerForm.get('password').touched }"
            />
            <span class="input-icon">
              <mat-icon aria-label="material-icons-outlined">lock</mat-icon>
            </span>
          </div>
          <div
            *ngIf="
              registerForm.get('password').invalid &&
              registerForm.get('password').touched
            "
            class="input-error"
          >
            <div *ngIf="registerForm.get('password').errors.required">
              Password is required.
            </div>
            <div *ngIf="registerForm.get('password').errors.minlength">
              Password must be 6 characters long.
            </div>
          </div>
        </div>
      </div>
      <div class="log-form-footer text-center">
        <button type="button" (click)="register()" class="main-btn">
          Sign Up
        </button>
        <div class="d-f j-c-s-b mt-3 bottom_fields">
          <!-- <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="customCheckBox1"
            />
            <label class="custom-control-label" for="customCheckBox1"
              >Remember me</label
            >
          </div> -->
          <a [routerLink]="['/forgot-password']" class="primary-link" >Forgot Password</a>
        </div>
        <p>
          I have an account.<a [routerLink]="['/signin']" class="primary-link"
            >SignIn</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
<ngx-ui-loader [fgsType]="api?.loaderType" [fgsColor]="api?.loaderColor" [pbColor]="api?.loaderColor"  [fgsSize]="'80'"></ngx-ui-loader>
