<div class="dash-content-wrap">
  <div class="dash-content-head d-f j-c-s-b a-i-c mb-5">
    <h3 class="dash-title">Support</h3>
  </div>

  <div class="dash-content-body">
    <div class="table-card">
      <nz-table
        class="table dash-table"
        #supportTable
        [nzData]="supports"
        [nzShowPagination]="true"
      >
        <thead>
          <tr>
            <th>Ticket Id</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Ticket</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let support of supportTable.data; let i = index">
            <td>{{ support?._id }}</td>
            <td *ngIf="support?.user?.first_name">{{ support?.user?.first_name || "" }} {{ support?.user?.last_name || "" }}</td>
            <td *ngIf="!support?.user?.first_name">{{ support?.name || "N/A" }}</td>
            <td>{{ support?.user?.email || support?.email }}</td>
            <td class="short-msg">{{ support?.message || "N/A" }}</td>
            <td>{{ support?.created_at | date: 'dd/MM/yyyy hh:mm a'}}</td>
            <td>{{ support?.status}}</td>
            <td>
              <div class="table-action d-f a-i-c">
                <a
                  [routerLink]="['/admin/support/ticket', support?._id]"
                  class="icon-btn"
                  ><i class="fas fa-eye"></i
                ></a>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <!-- <nz-pagination
        [nzPageIndex]="page"
        [nzTotal]="total"
        (nzPageIndexChange)="paginate($event)"
      ></nz-pagination> -->
    </div>
  </div>
</div>
<ngx-ui-loader
  [fgsType]="api?.loaderType"
  [fgsColor]="api?.loaderColor"
  [pbColor]="api?.loaderColor"
  [fgsSize]="'80'"
></ngx-ui-loader>
