<div class="log-form-layout">
  <span class="form-top-shape"
    ><img src="assets/images/form-top-shape.png"
  /></span>
  <span class="form-bottom-shape"
    ><img src="assets/images/form-bottom-shape.png"
  /></span>
  <div class="log-form-card">
    <div class="log-form-left">
      <div class="ellipse14"></div>
      <div class="ellipse15"></div>
      <div class="ellipse16"></div>
      <div class="ellipse27"></div>
      <span class="form-left-top-shape"
        ><img src="assets/images/black-dot.png"
      /></span>
      <img class="log-ill-img" src="assets/images/login-img.png"/>
      <div class="log-inn-text">
        <h3>
          Welcome to our <br />
          website
        </h3>
      </div>
      <span class="form-left-bottom-shape"
        ><img src="assets/images/black-dot.png"
      /></span>
    </div>
    <form class="log-form-right" [formGroup]="forgotForm" (ngSubmit)="continue()">
      <div class="log-form-head">
        <a [routerLink]="['/']" class="form-logo">
          <img src="assets/images/logo.png" />
        </a>
        <h3 class="log-title">FORGOT YOUR PASSWORD?</h3>
        <p>Enter Your Email Address</p>
      </div>
      <div class="log-form-body adsa">
        <div class="form-group">
          <label class="form-label">Your Email</label>
          <div class="input_wrap">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Enter Your Email Id"
              [ngClass]="{
                'invalid-input':
                  forgotForm.get('email').invalid &&
                  forgotForm.get('email').touched
              }"
            />
            <span class="input-icon"
              ><mat-icon aria-label="material-icons-outlined"
                >email</mat-icon
              ></span
            >
          </div>
          <div
            *ngIf="
              forgotForm.get('email').invalid && forgotForm.get('email').touched
            "
            class="input-error"
          >
            <div *ngIf="forgotForm.get('email').errors.required">
              Email is required.
            </div>
            <div *ngIf="forgotForm.get('email').errors.pattern">
              Email is invalid.
            </div>
          </div>
        </div>
      </div>
      <div class="log-form-footer text-center">
        <button type="button" (click)="continue()" class="main-btn">
          Continue
        </button>
        <div class="d-f j-c-s-b mt-3 bottom_fields" *ngIf="!adminLogin">
        </div>
        <p>
          Don’t have an account?
          <a [routerLink]="['/signup']" class="primary-link">SignUp</a>
          <!-- <span class="primary-link" (click)="signup()">SignUp</span> -->
        </p>
      </div>
    </form>
  </div>
</div>
<ngx-ui-loader [fgsType]="api?.loaderType" [fgsColor]="api?.loaderColor" [pbColor]="api?.loaderColor"  [fgsSize]="'80'"></ngx-ui-loader>
