<div class="dash-content-wrap">
    <div class="dash-content-head d-f j-c-s-b a-i-c mb-5">
      <h3 class="dash-title">Orders</h3>
      <!-- <h5><span class="tb-dated mr-3"><i class="fas fa-calendar-alt mr-2"></i>31 jul 2020</span> To <span class="tb-dated ml-3"><i class="fas fa-calendar-alt mr-2"></i>31 jul 2020</span></h5> -->
    </div>
  
    <!-- <div class="table-filter-row d-f j-c-s-b mb-4" *ngIf="modelS.allStores.length">
      <div class="input_wrap">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            class="form-control"
            nz-input
            placeholder="Search"
            [(ngModel)]="searchtext"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button class="search-btn" nzSearch (click)="getOrders()">
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </div>
      <div class="datepicker-group">
        <nz-range-picker
          [nzFormat]="dateFormat"
          [(ngModel)]="filterDate"
          (ngModelChange)="getOrders()"
        ></nz-range-picker>
      </div>
      <div class="datepicker-group cstm-select">
        <nz-select
          [(ngModel)]="dateRange"
          placeholder="Date Range"
          (ngModelChange)="dateRangeChanges()"
        >
          <nz-option nzValue="" nzLabel="Date Range" nzDisabled></nz-option>
          <nz-option nzValue="week" nzLabel="This Week"></nz-option>
          <nz-option nzValue="month" nzLabel="This Month"></nz-option>
          <nz-option nzValue="year" nzLabel="This Year"></nz-option>
        </nz-select>
      </div>
    </div> -->
  
    <div class="dash-content-body">
      <div class="table-card">
        <nz-table
          class="table dash-table"
          #ordersTable
          [nzData]="orders"
          [nzShowPagination]="false"
        >
          <thead>
            <tr>
              <th>Order#</th>
              <!-- <th>Store</th>
                <th>SKU</th>
                <th>Supplier</th>
                <th>Supplier Order#</th> -->
              <th>Sell Price</th>
              <th>Purchange Price</th>
              <th>Sales Tax</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of ordersTable.data">
              <td>{{ order?.name }}</td>
              <!-- <td>{{order?.store_name || 'N/A'}}</td>
                <td>{{order?.sku || 'N/A'}}</td>
                <td>{{order?.supplier || 'N/A'}}</td>
                <td>{{order?.supplier_order || 'N/A'}}</td> -->
              <td>{{ order?.total | currency: order.currency }}</td>
              <td>
                {{ order?.total_line_items_price | currency: order.currency }}
              </td>
              <td>{{ order?.total_tax | currency: order.currency }}</td>
              <td>
                <div class="table-action d-f a-i-c">
                  <a
                    [routerLink]="['/dashboard/catalog-orders', order?._id]"
                    class="icon-btn"
                    ><i class="fas fa-eye"></i
                  ></a>
                  <!-- <a [routerLink]="['/dashboard/edit-order', order?.guid]" class="icon-btn"><i class="fas fa-edit"></i></a>
                    <a href="javascript:void(0);" class="icon-btn danger-icon"><i class="fas fa-trash-alt"></i></a> -->
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <nz-pagination
          [nzPageIndex]="page"
          [nzTotal]="total"
          (nzPageIndexChange)="paginate($event)"
        ></nz-pagination>
      </div>
    </div>
  </div>
  <ngx-ui-loader
    [fgsType]="api?.loaderType"
    [fgsColor]="api?.loaderColor"
    [pbColor]="api?.loaderColor"
    [fgsSize]="'80'"
  ></ngx-ui-loader>
  