<div class="dash-content-wrap">
    <div class="dash-content-head d-f j-c-s-b mb-5">
        <h3 class="dash-title">Add Order</h3>
        <a href="javascript:void(0);" class="cstm-btn">Add New Order</a>
    </div>
    <div class="dash-content-body">
        <div class="row">           
            <div class="col-lg-12">
                <div class="dash-card">
                    <div class="dash-head">
                       <h3 class="card-title">Add Order</h3>
                    </div>
                    <div class="dash-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Order Id</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Billing Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Order Date </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Total</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Payment Status</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Total</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>                           
                           
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">About</label>                                    
                                     <textarea class="form-control" placeholder="" style="height: 120px; resize: none;"></textarea>
                                </div>
                            </div>
                            </div>
                        
                        <div class="btn-wrap mt-4">
                            <button type="button" class="cstm-btn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
