<div class="dash-content-wrap">
  <div class="dash-content-head d-f j-c-s-b mb-5">
    <h3 class="dash-title">Order</h3>
    <!-- <a href="javascript:void(0);" class="cstm-btn">Add New order</a> -->
  </div>
  <div class="dash-content-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="dash-card">
          <div class="dash-head">
            <h4 class="card-title">Order Information</h4>
          </div>
          <div class="dash-body">
            <ul class="listing-row">
              <li>
                <label>Order:</label>
                <p>{{ order?.name || "N/A" }}</p>
              </li>
              <li>
                <label>Payment Status:</label>
                <p>{{ order?.financial_status || "N/A" }}</p>
              </li>
              <li>
                <label>Payment Gateway:</label>
                <p>{{ order?.gateway || "N/A" }}</p>
              </li>
              <li>
                <label>Subtotal:</label>
                <p>{{ order?.subtotal | currency: order.currency }}</p>
              </li>
              <li>
                <label>Tax:</label>
                <p>{{ order?.total_tax | currency: order.currency }}</p>
              </li>
              <li>
                <label>Total:</label>
                <p>{{ order?.total | currency: order.currency }}</p>
              </li>
            </ul>
            <div class="btn-wrap mt-4">
              <a
                *ngIf="order.order_status_url"
                href="{{ order?.order_status_url }}"
                target="_blank"
                class="cstm-btn"
                >View Order Status</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8" *ngIf="order?.line_items">
        <div class="dash-card">
          <table class="product-table">
            <thead class="product-table__header">
              <tr>
                <th scope="col">
                  <span class="visually-hidden">Product image</span>
                </th>
                <th scope="col">
                  <span class="visually-hidden">Description</span>
                </th>
                <th scope="col">
                  <span class="visually-hidden">Quantity</span>
                </th>
                <th scope="col"><span class="visually-hidden">Price</span></th>
              </tr>
            </thead>
            <tbody data-order-summary-section="line-items">
              <tr class="product" *ngFor="let prod of order?.line_items">
                <td class="product__image">
                  <div class="product-thumbnail">
                    <div class="product-thumbnail__wrapper">
                      <img
                        alt="{{ prod?.name }}"
                        class="product-thumbnail__image"
                        src="//cdn.shopify.com/shopifycloud/shopify/assets/checkout/product-blank-98d4187c2152136e9fb0587a99dfcce6f6873f3a9f21ea9135ed7f495296090f.png"
                      />
                    </div>
                    <span class="product-thumbnail__quantity" aria-hidden="true"
                      >1</span
                    >
                  </div>
                </td>
                <td class="product__description" scope="row">
                  <span
                    class="product__description__name order-summary__emphasis"
                    >{{ prod?.title }}</span
                  >
                  <span
                    class="product__description__variant order-summary__small-text"
                    >{{ prod?.variant_title }}</span
                  >
                </td>
                <td class="product__quantity">
                  <span class="visually-hidden"> 1 </span>
                </td>
                <td class="product__price">
                  <span
                    class="order-summary__emphasis skeleton-while-loading"
                    >{{ prod?.price | currency: getCurrency(prod) }}</span
                  >
                </td>
                <br />
              </tr>
            </tbody>
          </table>
          <hr />
          <div>
            <div class="d-flex a-i-c j-c-s-b">
              <h6>Subtotal</h6>
              <h5>{{ order?.subtotal | currency: order?.currency }}</h5>
            </div>
            <br>
            <div class="d-flex a-i-c j-c-s-b">
              <h6>Shipping</h6>
              <h5 *ngIf="order.Shipping">
                {{ order?.Shipping | currency: order?.currency }}
              </h5>
              <h5 *ngIf="!order.Shipping">Calculated at next step</h5>
            </div>
          </div>
          <hr />

          <div>
            <div class="d-flex a-i-c j-c-s-b">
              <h6>Total</h6>
              <h5>{{ order?.total | currency: order?.currency }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-ui-loader
    [fgsType]="api?.loaderType"
    [fgsColor]="api?.loaderColor"
    [pbColor]="api?.loaderColor"
    [fgsSize]="'80'"
  ></ngx-ui-loader>
</div>
