<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<!----------------------------Become a partner banner start------------------------>
<section class="partner">
  <div class="container">
    <div
      class="row d-flex justify-content-center align-items-center text-center pt-5 pb-5"
    >
      <div
        class="col-md-12 col-sm-12 animate__fadeInLeft animate__animated pt-5 pb-5"
        data-animation="fadeILeft"
      >
        <ul class="list-unstyled d-flex justify-content-center banner-links">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="index.html">.</a>
          </li>
          <li class="nav-item">
            <a class="bcap nav-link" href="Become-a-partner.html"
              >Become a partner
            </a>
          </li>
        </ul>
        <h2>{{cmsService.becomePartner.section1.heading1}}</h2>
        <p>{{cmsService.becomePartner.section1.heading2}}</p>
      </div>
    </div>
  </div>
</section>
<!----------------------------Become a partner banner start------------------------>

<!----------------------------banner Start------------------------>
<section class="multiple-stores mt-170">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div
        class="col-md-6 col-sm-12 col-lg-6 animate__bounceIn animate__animated"
        data-animation="bounceIn"
      >
        <div class="right-img">
          <img
            src="assets/images/multiple-stores-image.png"
            alt="banner-right-img"
            class="img-fluid"
          />
        </div>
      </div>
      <div
        class="col-md-6 col-sm-12 col-lg-6 animate__bounceIn animate__animated"
        data-animation="bounceIn"
      >
        <span class="small-heading mb-4">{{cmsService.becomePartner.section2.heading1}}</span>
        <h3 class="bottom-border">{{cmsService.becomePartner.section2.heading2}}</h3>
        <p class="mb-35 mt-5">
          {{cmsService.becomePartner.section2.heading3}}
        </p>
        <ul class="list-unstyled check_listing">
          <li>
            <img src="assets/images/check.svg" alt="check" class="mr-2" />{{cmsService.becomePartner.section2.heading4}}
          </li>
          <li>
            <img src="assets/images/check.svg" alt="check" class="mr-2" />{{cmsService.becomePartner.section2.heading5}}
          </li>
          <li>
            <img src="assets/images/check.svg" alt="check" class="mr-2" />{{cmsService.becomePartner.section2.heading6}}
          </li>
          <li>
            <img src="assets/images/check.svg" alt="check" class="mr-2" />{{cmsService.becomePartner.section2.heading7}}
          </li>
        </ul>
      </div>
      <div
        class="col-md-4 col-sm-12 col-lg-4 animate__bounceIn animate__animated pt-5"
        data-animation="bounceIn"
      >
        <div class="box">
          <i class="fas fa-dollar-sign"></i>
          <h4>{{cmsService.becomePartner.section3.heading1}}</h4>
          <p>
            {{cmsService.becomePartner.section3.heading2}}
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-sm-12 col-lg-4 animate__bounceIn animate__animated pt-5"
        data-animation="bounceIn"
      >
        <div class="box">
          <i class="fas fa-dollar-sign"></i>
          <h4>{{cmsService.becomePartner.section4.heading1}}</h4>
          <p>
            {{cmsService.becomePartner.section4.heading2}}
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-sm-12 col-lg-4 animate__bounceIn animate__animated pt-5"
        data-animation="bounceIn"
      >
        <div class="box">
          <i class="fas fa-dollar-sign"></i>
          <h4>{{cmsService.becomePartner.section5.heading1}}</h4>
          <p>
            {{cmsService.becomePartner.section5.heading2}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------------------------banner end------------------------>

<!----------------------------banner Start------------------------>
<section class="listing-product mt-53 pt-150 pb-150 text-center">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div
        class="col-md-12 col-sm-12 animate__bounceIn animate__animated"
        data-animation="bounceIn"
      >
        <h3>{{cmsService.becomePartner.section6.heading1}}</h3>
        <div class="blackbtnouter mt-5">
          <button class="cstm-btn blackbtnouter lbtn" type="button" [routerLink]="['/signin']">
            <img
              src="assets/images/login-icon.png"
              class="mr-2"
              alt="login-icon"
            />Login
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------------------------banner end------------------------>

<!----------------------------banner Start------------------------>
<section class="counter mt-5 mb-5 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div
        class="col-md-3 col-sm-6 animate__bounceIn animate__animated"
        data-animation="bounceIn"
      >
        <div class="counter-circle">
          <h6>4789</h6>
          <p>projects</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-6 animate__bounceIn animate__animated"
        data-animation="bounceIn"
      >
        <div class="counter-circle">
          <h6>4789</h6>
          <p>projects</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-6 animate__bounceIn animate__animated"
        data-animation="bounceIn"
      >
        <div class="counter-circle">
          <h6>4789</h6>
          <p>projects</p>
        </div>
      </div>
      <div
        class="col-md-3 col-sm-6 animate__bounceIn animate__animated"
        data-animation="bounceIn"
      >
        <div class="counter-circle">
          <h6>4789</h6>
          <p>projects</p>
        </div>
      </div>
      
      <div
        class="col-md-12 col-sm-12 animate__bounceIn animate__animated text-center mt-5"
        data-animation="bounceIn"
      >
        <p>
          {{cmsService.becomePartner.section7.heading1}}
        </p>
      </div>
      <div class="blackbtnouter mt-5">
        <button class="ml cstm-btn blackbtnouter lbtn" type="button" [routerLink]="['/signin']">
          <img
            src="assets/images/login-icon.png"
            class="mr-2"
            alt="login-icon"
          />Login
        </button>
      </div>
    </div>
  </div>
</section>
<!----------------------------banner end------------------------>
